* {
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  .top{
    display: block;
    width: 100%;
    height: 120px;
    text-indent: -9999em;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto 120px;
    background-image: url(../images/index/index_01.webp);
}
 
  ul, ol, li {
    list-style: none;
  }
  
  .container {
    width: 1226px;
    margin: 0 auto;
  }
  
  .header {
    height: 40px;
    width: 100%;
    background-color: #333;
  
    > .container {
      color: #B0B0B0;
      font-size: 12px;
      height: 100%;
      
      a{
        color: #B0B0B0;
      }

      > ul li:hover, > ol li:hover, > ol li a:hover{
        color: #fff;
        cursor: pointer;
      }

      > ul {
        display: flex;
        height: 100%;
        align-items: center;
        float: left;
  
        > li {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 6px;
        }
      }
  
      > ol {
        display: flex;
        height: 100%;
        align-items: center;
        float: right;

        > li {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 10px;

          >button{
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #b0b0b0;
            background: #424242;
            border: none;
            padding: 0 40px;

            >span{
              font-size: 20px;
              color: #B0B0B0;
            }
          }
        }
      }
    }
  }
  
  .nav_top {
    height: 100px;

    > .top_box{
      width: 1226px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      > .logo{
        margin-top: 15px;
      }
  
      > ul {
        display: flex;
        align-items: center;
        height: 100%;
        width: 542px;
        margin-left: 190px;
        margin-right: 119px;
    
        > li {
          padding: 0 12px;
          font-size: 22px;
          cursor: pointer;
          font-size: 16px;
          &:hover{
            color: #FF6700;
          }
        }
      }
  
      > .ipt {
        display: flex;

        > input{
          height: 50px;
          float: left;
          width: 245px;
        }
        
        > div{
          width: 52px;
          height: 52px;
          float: left;
          border: 1px solid #ccc;
          border-left: none;
          position: relative;
          &:hover{
            cursor: pointer;
            background-color: #FF6700;

            > i{
              color: #fff;
            }
          }

          > i{
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 25px;
            color: #ccc;
          }
        }
      }
    }
  }
  
  .nav_box {
    border-top: 1px solid #ccc;
    display: none;
    position: relative;
    background-color: #fff;
  
    > ul {
      display: flex;
      position: absolute;
      z-index: 9999;
      top: 0;
      left: 146px;
      background-color: #fff;
  
      > li {
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        &:hover{
          color: #FF6700;
        }

        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: 1px solid #333;
          margin-bottom: 15px;
  
          img {
            width: 160px;
            height: 110px;
            display: block;
          }
        }
  
        > p {
          margin-bottom: 5px;
        }
  
        &:last-child {
  
          > div {
            border: none;
          }
        }
      }
    }
  }

  .banner {
    position: relative;
  
    .prev {
      left: 240px;
    }
  
    > .nav_list {
      width: 234px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, .5);
      z-index: 999;
  
      > ul {
        width: 100%;
        height: 100%;
  
        > li {
          color: #fff;
          padding: 5px 20px;
        }
      }
    }
  }

  .list{
    width: 1226px;
    height: 170px;
    margin: 20px auto;

    > .list_left{
      width: 234px;
      height: 100%;
      float: left;
      background-color: #5F5750;
      
      > ul{
        width: 100%;
        height: 100%;

        > li {
          float: left;
          display: flex;
          flex: 1;
          flex-direction: column;
          padding: 21px 15px;
          align-items: center;
          color: #ccc;
          font-size: 12px;
          &:hover{
            cursor: pointer;
            color: #fff;
          }
          
          > i{
            font-size: 25px;
          }
        }
      }
    }

    > .list_right{
      width: 992px;
      height: 100%;
      float: left;

      > ul li{
        width: 316px;
        height: 100%;
        float: left;
        margin-left: 14px;

        > img{
          width: 316px;
          height: 170px;

          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }